footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    border: 1px solid blue;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff0000, #3366ff, #ff9900, #cc33ff);
    border: 5px solid #3366ff;
}

/* Efeito de sublinhado ao passar o mouse */
.nav-link {
    position: relative;
    transition: color 0.3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
    background-color: #ff0000;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Adicionando overflow: hidden para evitar que a imagem ultrapasse a borda do card */
}

.card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card-body {
    transition: background-color 0.3s ease;
}

.card:hover .card-body {
    background-color: #212529;
}

.card-title, .card-text, .btn {
    transition: color 0.3s ease;
}

.card:hover .card-title, .card:hover .card-text, .card:hover .btn {
    color: #fff;
}


/* Estilo para o footer */
footer {
  background-color: whitesmoke;
  color: #333;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h4 {
  color: #333;
  font-size: 25px;
}

p {
  font-size: 18px;
  line-height: 2;
}

ul.contact-info {
  list-style: none;
  padding: 0;
}

ul.contact-info li {
  margin-bottom: 10px;
}

.footer-bottom {
  background-color: whitesmoke;
  padding: 20px 0;
}

.footer-bottom p {
  font-size: 14px;
}

.footer-social {
  list-style: none;
  padding: 0;
}

.footer-social li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social li a {
  color: #fff;
  font-size: 18px;
}

/* Adicione ícones de redes sociais personalizados aqui */
.footer-social li a:hover {
  color: #ffc107; /* Altere a cor de destaque conforme necessário */
}

.custom-form-control {
  width: calc(100% - 90px); /* ajuste conforme necessário */
}

.success-message {
  text-align: center;
  margin-top: 100px;
}
.explore-button {
  display: block;
  width: 200px;
  margin: 20px auto;
}